<div class="d-flex align-items-center h-100">
    <main class="form-signin text-center align-items-center">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Registration</h1>
  
        <div class="form-floating">
            <input type="text" formControlName="username" class="form-control"
              id="floatingUserInput" placeholder="Uesrname">
            <label for="floatingUserInput">Username</label>
          </div>

        <div class="form-floating">
          <input type="email" formControlName="email" class="form-control"
            id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>

        <div class="form-floating">
          <input type="password" formControlName="password" class="form-control"
            id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
  
        
        <label class="mb-2">
            <a href="/registration">Already Registered?</a>
          </label>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign
          in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>
  </div>